
body{
    background-color: #e9e9e9;

}

.content-container{
    padding-top: 152px;
}


.menubar-container{
    width:100%;
    position: fixed;
    border-bottom: 2px solid #006666;
    z-index: 5;
 
}

.menubar-content{
    background-color: #006666;
    height: 90px;
    width: 100%;
    position: relative;
    display: flex;
}


/*Usuario sessão*/
.menubar_user-container{
    z-index: 1;
    width: 350px;
    height: 100%;
    right:0;
    position: absolute;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}
.menubar_user-container:hover{
    background: rgba(208, 227, 238, 0.452);
}
.menubar_user-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    padding-right:10px ;
}

.perfil-container{
    display: flex;
    align-items: center;
}
.perfil-container h5{
  margin-right: 10px;
  color: white;
}

.menubar_user-content .perfil{   
    background: rgb(233, 233, 233); 
    background-image: url("../images/users/icons/UserIcon.png");
    background-size: contain;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
 
}

.menubar_user-container:hover .perfil{
    border: 2px solid rgb(255, 255, 255);
  }
  

.menubar_user-content .perfil img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
   



}

.useroptions{
    background-color: #e9e9e9;
    width: 100%;
    position: absolute;
    margin-top: 0px;
    left: 0;    
    transition: ease-in-out 0.05s;
    overflow: hidden;
    height: 0;
    border: 0px solid;
    margin-top: 85px;

    
}

.menubar_user-content:hover .useroptions{

    height: auto;
    padding-bottom: 10px;
    border: 1px solid #aca6a6;
}

.useroptions ul{
    list-style: none;
    padding: 0px;
    padding-top: 10px;
   
}
.useroptions ul li{
    border-bottom: 1px solid #aca6a6;
    padding: 10px;
    font-weight: 600;
    
    cursor: pointer;
    transition: ease-in-out 0.1s;
    
}

.useroptions ul li:hover{
    padding-left: 20px;
    color: rgb(82, 82, 82);
}

.useroptions .buttonbtn{
    width: 100%;
    height: 50px;
    display: block;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 25px;
    padding: 3px;
    transition: ease-in-out 0.1s;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    
}

.buttonbtn span{
    display: block;
    width: 100%;
    height: 20px;
    text-align: center;
    transition: ease-in-out 0.1s;
}

.useroptions .buttonbtn:hover span{
    color: rgb(82, 82, 82);
    font-size: 30px;
    transform: translateY(-4px);
}

/*Menubar titulo*/
.menubar-title{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.menubar-title .h1{
    color: white;
    text-decoration: none;
}
/*Barra de pesquisa*/
.searchbar-container{
    display: flex;
    width: 400px;
    height: 50px;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid white;
 
}
.searchbar-container .search-input{
   padding: 10px; 
   border: none;
   width: 100%;
   outline: none;
   border-radius: 0;
}
.searchbar-container .search-input:enabled{
    border: none;
    outline: none;
    
 }
.searchbar-container .search-button{
    border: none;
    background: #00aaaa;
    color: white;
    width: 50px;
    height: 100%;
   
}
.searchbar-container .search-button:hover{
    background: #10bbbb;

}

.searchbar-container .search-button:active{
    background: #097e7e;
    border-top: 2px solid #02323a;
    border-left: 2px solid #02323a;

}


.searchbar-container .search-button span{
    font-size: 30px;
    text-shadow: 1px 1px black;
    transform: translateY(3px);
}




/*Botões*/
.menubarbuttons-content{
    display: flex;
}

.menubarbuttons-content button{
    background:#008584;
    width: 100%;
    height: 60px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.menubarbuttons-content button:hover{
    background-color: #0a9191;
}


/*Dropdown*/
.dropdown{
    position: absolute;
    z-index: 1;
    align-self: center;
   
}



.dropdown-btn,.dropdown-btn:hover{
    background: none;
    border: none;
}


.dropdown-btn span{
    font-size: 80px;
    color: white;
    font-weight: 600;
}

.dropdown-menucontent{
    background: #e9e9e9;
    border-radius: 0;

}