.form-card-background{
    display: flex;
    width: 100%;
    background-image:url("../images/backgrounds/background2.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.form-card-background .form-card{
    width: 100%;
    padding: 20vw; 
    padding-top: 20px;
    padding-bottom: 20px;  
    background-size: cover;
    background-attachment: fixed;



}

.form-card form{
    background: white;
    border: 1px solid rgb(196, 196, 196);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

form .container-info{
    display: flex;
}

form .part1,form .part2{
    width: 50%;
    padding: 10px;
}


/*Botão de uppload de imagem*/

.perfilupload{
    align-self: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid black
}

.perfilupload input{
    display: none;
}

.perfilupload label{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgb(233, 233, 233); 
    background-image: url("../images/users/icons/UserIcon.png");
    background-size: cover;
    position: relative;
    display: flex;
}
.perfilupload img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfilupload .upicon{
    position: absolute;
    justify-self: center;
    align-self: center;
    background: rgba(60, 63, 66, 0.507);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition:ease-in-out 0.1s;


}
.perfilupload:hover .upicon{
    opacity: 1;
}
.perfilupload span{
    font-size: 60px;
}

.center-elements{
    background: red;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.card-forne{
    padding: 200vw; 
}