.loja-container{
    width: 100%;
    background-attachment: fixed;
    height: 100%;
    position: absolute;
    display: flex;
   
}

.produtos-container{
    background: rgb(224, 224, 224);
    display:flex;
    padding: 50px;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;

}
/*Card do produto*/
.produto-card{
    background: rgb(236, 236, 236);
    width: 300px;
    height: 430px;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    text-decoration: none;
    color: black;
}
.produto-card:hover{
    transform: scale(1.1);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.322);
    color: rgb(0, 0, 0);
}

.produto-card:active{
    transform: scale(1);
    background: rgb(52, 191, 196);
    border: 2px solid rgb(0, 0, 0);
    transition: ease-in-out 0.08s;

}

.produto-card:hover .produto-image{
    
    border: 2px solid rgb(0, 0, 0);
}

.produto-image{
    width: 100%;
    height: 700px;
    overflow:hidden;
    margin-bottom: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 20px;
    transition: ease-in-out 0.1s;
}

.produto-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.produtos-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.produtos-info .preco{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.produtos-info h2{
    font-size: 20px;
    text-decoration: none;
}


/*Filtro*/
.loja-container .filtros{
    background: rgb(238, 238, 238);
    width: 400px;
    height: 100%;
    border-right: 1px solid rgb(177, 177, 177);
    padding-top: 10px;
}

.loja-container .filtros h2{
    text-align: center;
}

.loja-container .filtros ul{
    margin: 0;
    margin-bottom:2px;
    border-bottom:1px solid rgb(177, 177, 177);
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:2px;
    font-size: 20px;
    cursor:default;
}