{% extends 'master.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/formsForne.css' %}">

<div  class="form-card-background">
    <div class="form-card card-forne">
        <form action="{% url 'criar_fornecedor' %}" method="post">
            <h4 class="text-center">Torne-se Vendedor</h4>
            {% csrf_token %}
            <div class="center-elements row">
                <div class="mb-3">
                        <label for="nomeempresa" class="form-label">Nome da empresa</label>
                        <input type="text" name="nomeempresa" class="form-control" value="{{ request.POST.nomeempresa }}" required>                            
                </div>    
            
                
                <div class="mb-3">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="text" name="telefone" class="form-control" value="{{ request.POST.telefone }}" required>
                </div>
                
                <div class="mb-3">
                        <label for="CNPJ" class="form-label">CNPJ</label>
                        <input type="text" name="CNPJ" class="form-control" value="{{ request.POST.cnpj }}" required>
                </div>
                
                <div class="mb-3">
                        <label for="endereco" class="form-label">Endereço</label>
                        <input type="text" name="endereco" class="form-control" value="{{ request.POST.endereco }}" required>
                </div>
                
                <div class="mb-3">
                        <label for="pais" class="form-label">País</label>
                        <input type="text" name="pais" class="form-control" value="{{ request.POST.pais }}" required>
                </div>
                
                <div class="col-auto mb-3">
                    <button class="d-flex justify-content-end btn btn-success">Cadastrar</button>
                </div>
            </form> 
            </div>
            
    </div>
    
</div>
    
{% endblock %}
