{% extends 'master.html' %}

{% block content %}
    <h4>Cadastro de clientes</h4>
    <form action="{% url 'criar_fornecedor' %}" method="post">
        {% csrf_token %}
        
        <div class="row">
            <div class="col-md-3">
                <label for="nomeempresa">Nome da empresa</label>
                <input type="text" name="nomeempresa" class="form-control" value="{{ request.POST.nomeempresa }}">                            
                {% if erros.empresa %}<span class="text-danger">{{ erros.empresa }}</span>{% endif %}
            </div>
        </div>    
        
        <div class="row">
            <div class="col-md-3">
                <label for="representante">Representante</label>
                <select class="form-select" name="representante" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>                
                {% if erros.representante %}<span class="text-danger">{{ erros.representante }}</span>{% endif %}
            </div>
        </div>   
        
        <div class="row">
            <div class="col-md-3">
                <label for="telefone">Telefone</label>
                <input type="text" name="telefone" class="form-control" value="{{ request.POST.telefone }}">
                {% if erros.telefone %}<span class="text-danger">{{ erros.telefone }}</span>{% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <label for="CNPJ">CNPJ</label>
                <input type="number" name="CNPJ" class="form-control" value="{{ request.POST.cnpj }}">
                {% if erros.cnpj %}<span class="text-danger">{{ erros.cnpj }}</span>{% endif %}
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="endereco">Endereço</label>
                <input type="text" name="endereco" class="form-control" value="{{ request.POST.endereco }}">
                {% if erros.endereco %}<span class="text-danger">{{ erros.endereco }}</span>{% endif %}
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="pais">País</label>
                <input type="text" name="pais" class="form-control" value="{{ request.POST.pais }}">
                {% if erros.pais %}<span class="text-danger">{{ erros.pais }}</span>{% endif %}
            </div>
        </div>
        
        <div class="col-auto mb-3">
            <button class="d-flex justify-content-end btn btn-success">Cadastrar</button>
        </div>
    </form> 
{% endblock %}
