{% extends 'master.html' %}

{% block content %}
    
<table class="table table-striped">
    <thead>
        <th>Empresa</th>
        <th>Representante</th>
        <th>CNPJ</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>País</th>

    </thead>
      <tbody>
        {% if lista %}
            {% for Fornecedores in lista %}
                <tr>
                    <td>{{ Fornecedores.empresa }}</td>
                    <td>{{ Fornecedores.representante }}</td>
                    <td>{{ Fornecedores.cnpj}}</td>
                    <td>{{ Fornecedores.telefone }}</td>
                    <td>{{ Fornecedores.endereco }}</td>
                    <td>{{ Fornecedores.pais }}</td>
                
            {% endfor %}
        {% else %}
            <tr colspan="6">
                <td class="text-center" colspan="6">
                    Nenhum fornecedor cadastrado
                </td>                          
            </tr>
        {% endif %} 
      </tbody>  
</table>
{% endblock %}