{% extends 'master.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<div  class="form-card-background">
    <div class="form-card">
        <form method="post" enctype="multipart/form-data">

            


            <h1 class="text-center">CRIAR CONTA</h1>
          
            
            {% csrf_token %}
            <input type="hidden" id="image-url" name="imgurl" readonly>

            <div class="perfilupload">
                <label for="Input-img" id="labelimg">
                    <img src="{{request.POST.imgurl}}" alt="" id="profile-img" onerror="this.style.display = 'none';">
                    <div class="upicon">
                        <span class="material-symbols-outlined">
                            upload
                        </span>
                    </div>
                    
                </label>
                <input type="file" id="Input-img" name="perfilimage" accept="image/*">

             
            </div>
            
            <div class="container-info">
                <div class="part1">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome:</label>
                        <input type="text" class="form-control"  value="{{ request.POST.nome}}" name="nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="sobrenome" class="form-label">Sobrenome:</label>
                        <input type="text" class="form-control" value="{{ request.POST.sobrenome}}" name="sobrenome" required>
                    </div>
                    <div class="mb-3">
                        <label for="data_nascimento" class="form-label">Data de Nascimento:</label>
                        <input type="date" class="form-control" value="{{ request.POST.data_nascimento}}" name="data_nascimento" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" value="{{ request.POST.email}}" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="cpf" class="form-label">CPF:</label>
                        <input type="text" class="form-control" value="{{ request.POST.cpf}}" name="cpf" required>
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha:</label>
                        <input type="password" class="form-control" name="senha" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirsenha" class="form-label">Confirmar senha:</label>
                        <input type="password" class="form-control" name="confirsenha" required>
                        {% if erros.confirmarsenha %}<span class="text-danger">{{ erros.confirmarsenha }}</span>{% endif %}
                    </div>
                </div>
                <div class="part2">
                    <div class="mb-3">
                        <label for="rua" class="form-label">Rua:</label>
                        <input type="text" class="form-control" value="{{ request.POST.rua}}" name="rua" required>
                    </div>
                    <div class="mb-3">
                        <label for="numero" class="form-label">Número:</label>
                        <input type="number" class="form-control" value="{{ request.POST.numero}}" name="numero" required>
                    </div>
                    <div class="mb-3">
                        <label for="complemento" class="form-label">Complemento:</label>
                        <input type="text" class="form-control" value="{{ request.POST.complemente}}" name="complemento">
                    </div>
                    
                </div>
            </div>
            
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="submit" value="Registrar" class="btn btn-success">
            </div>
        
       
        </form>
    </div> 
    
</div>
<script>
    let profilePic = document.getElementById("profile-img");
    let inputFile = document.getElementById("Input-img");
    let perfilUploadDiv = document.getElementById("labelimg");
    let inputURL = document.getElementById("image-url");

    inputFile.onchange = function(){
        profilePic.src = URL.createObjectURL(inputFile.files[0]);
        profilePic.style.display = 'block';
        perfilUploadDiv.style.backgroundImage = 'none';
    
        // Atualizar o valor do input com a URL da imagem
        inputURL.value = profilePic.src;
    };

  
    

     
</script>    
    
{% endblock %}