{% extends 'master.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/loja.css' %}">

<div class="loja-container">
    <div class="filtros">
        <h2>FILTROS</h2>
        <ul>
            <li>Filtros doidos e legais</li>
            <li>Muito legais</li>
        </ul>
        <ul>
            <li>Filtros doidos e legais</li>
            <li>Muito legais</li>
        </ul>
        <ul>
            <li>Filtros doidos e legais</li>
            <li>Muito legais</li>
        </ul>
        <ul>
            <li>Filtros doidos e legais</li>
            <li>Muito legais</li>
        </ul>
        <ul>
            <li>Filtros doidos e legais</li>
            <li>Muito legais</li>
        </ul>
    </div>
    <div class="produtos-container">
        {% for item in produtos_com_imagens %}  
            <a href="{% url 'visualizar_produto' item.produto.id%}" class="produto-card">
                <div class="produto-image">
                {% if item.imagem %}
                    <img src="{{ item.imagem.image.url }}" alt="{{ item.produto.nome }}">
                {% else %}
                    <img src="{% static '/images/icons/notfoundimage.jpg'%}" alt="">
                    <p>Nenhuma imagem disponível</p>
                {% endif %}
                </div>
                <div class="produtos-info">
                    <div class="nome">
                        <h2>{{ item.produto.nome }}</h2>
                    </div>
                 
                    <div class="preco">
                        <h2>R${{ item.produto.preco }}</h2>
                    </div>
                    
                </div> 
            </a>
           
            
                    
            
            
        {% endfor %}
    </div>
</div>



{% include 'pagination.html' %}

{% endblock %}