{% extends "master.html" %}

{% load static %}


{% block content%}
   
   
    

    
    <div class="swiper-container">
        <div class="swiper mySwiper principalCarousel">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="{% static 'images/Carousel_images/Principal/Image1.jpg'%}" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static 'images/Carousel_images/Principal/Image1.jpg'%}" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static 'images/Carousel_images/Principal/Image2.jpg'%}" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static 'images/Carousel_images/Principal/Image3.png'%}" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static 'images/Carousel_images/Principal/Image4.jpg'%}" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static 'images/Carousel_images/Principal/Image5.jpg'%}" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{% static 'images/Carousel_images/Principal/Image6.webp'%}" alt="">
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
      
        </div>
    </div>
    <div class="separte">

    </div>
    <div class="swiperproducts-container">
        <div class="swiper mySwiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="{% static 'images/Carousel_images/Principal/Image1.jpg'%}" alt="">
                        </div>
                        <div class="product-info">
                            <h4>Produto</h4>

                            <h4 class="price">Preço</h4>
                            <h4 class="sales">Vendidos</h4>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="{% static 'images/Carousel_images/Principal/Image1.jpg'%}" alt="">
                        </div>
                        <div class="product-info">
                            <h4>Produto</h4>

                            <h4 class="price">Preço</h4>
                            <h4 class="sales">Vendidos</h4>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="{% static 'images/Carousel_images/Principal/Image1.jpg'%}" alt="">
                        </div>
                        <div class="product-info">
                            <h4>Produto</h4>

                            <h4 class="price">Preço</h4>
                            <h4 class="sales">Vendidos</h4>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="{% static 'images/Carousel_images/Principal/Image1.jpg'%}" alt="">
                        </div>
                        <div class="product-info">
                            <h4>Produto</h4>

                            <h4 class="price">Preço</h4>
                            <h4 class="sales">Vendidos</h4>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="{% static 'images/Carousel_images/Principal/Image1.jpg'%}" alt="">
                        </div>
                        <div class="product-info">
                            <h4>Produto</h4>

                            <h4 class="price">Preço</h4>
                            <h4 class="sales">Vendidos</h4>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="{% static 'images/Carousel_images/Principal/Image1.jpg'%}" alt="">
                        </div>
                        <div class="product-info">
                            <h4>Produto</h4>

                            <h4 class="price">Preço</h4>
                            <h4 class="sales">Vendidos</h4>
                        </div>
                    </div>
                </div>
                  
            </div>
            
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
    </div>

    <div class="separte"></div>
   
    

{% endblock %}