{% extends 'master.html' %}

{% block content %}
<h1 style="text-align: center;margin-top: 20px;margin-bottom: 30px;">Login</h1>
<div class="row" style="padding: 30%;padding-top: 0;padding-bottom: 0;">
    <form action="{% url 'login' %}" method="POST">
        <p class="text-danger">{{ error_message }}</p>
        {% csrf_token %}
 
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
        <a href="{%url 'cliente_cadastro'%}">Criar uma conta</a>
    </form>
</div>

{% endblock %}