
<!DOCTYPE html>

<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreedomExpres</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--Swiper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    

    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">

   
  
</head>
<body>
    <div class="menubar-container">
        <div class="menubar-content">
          
            
            

            <div class="menubar_user-container">
                <div class="menubar_user-content">
                    <div class="perfil-container">
                        <h5>
                            {% if request.user.is_authenticated %}
                                Bem-vindo, {{ request.user.nome }}!
                            {% else %}
                                Entrar
                            {% endif %}
                        </h5>
                        <div class="perfil" {% if perfil_image_url %} style="background: aliceblue;" {% endif %}>
                                <img src="{{ perfil_image_url }}" alt=""  onerror="this.style.backgroundColor = 'transparent'; this.style.objectFit = 'none'; this.style.display = 'none';">
                            
                        </div>
                    </div>
                    
                    <div class="useroptions">
                        <ul>
                            <li>Meus pedidos</li>
                            <li>Lista de desejos</li>
                        </ul>
                        {% if request.user.is_authenticated %}                            
                            <a href="{% url 'logout' %}" class="buttonbtn" style="width: 100%;"><span>Logout</span></a>
                        {% else %}
                            <a href="{% url 'login' %}" class="buttonbtn" style="width: 100%;"><span>Login</span></a>
                            
                        {% endif %}
                       
                       
                    </div>
                </div>
            </div>

            <div class="menubar-title">       
                <a href="{% url 'index' %}" class="h1">FreedomExpres</a>

                <form role="search" action="{% url 'pesquisar_produto' %}" method="GET" class="searchbar-container">
                    <input type="text" class="search-input" name="search" id="meuInput" value="{{ request.GET.search }}" placeholder="Pesquisar..." onkeyup="verificarInput()">
                    <button type="button" class="search-button" id="meuBotao">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>

                </form>
            </div>
        
        </div>
        <div class="menubarbuttons-content">           
            <button>Categorias</button>
            <button>Mais vendidos</button>
            <button>Promoções</button>
            <button>Categorias</button>
        </div>
    </div>
    

    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>



   
  


</body>
{% bootstrap_javascript %}

<!--Swiper-->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="{% static 'js/Carousel.js' %}"></script>

<script>
    function verificarInput() {
            var input = document.getElementById('meuInput');
            var botao = document.getElementById('meuBotao');

            if (input.value.trim() !== "") {
                botao.type = "submit";
            } else {
                botao.type = "button";
            }
        }
</script>
</html>