
<!DOCTYPE html>

<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreedomExpres</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
   
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">

   
  
</head>
<body>
    <div class="menubar-container">
        <div class="menubar-content">
            <div class="menubar_user-container">
                <div class="menubar_user-content">
                    <div class="perfil">
                        <img src="" alt=""  onerror="this.style.backgroundColor = 'transparent'; this.style.objectFit = 'none'; this.style.display = 'none';">
                    </div>
                </div>
            </div>

            <div class="menubar-title">
                <h1>FreedomExpres</h1>
            </div>
        
        </div>
        <div class="menubarbuttons-content">
            <button>Test1</button>
            <button>Test2</button>
            <button>Test3</button>
        </div>
    </div>
    
    {% block content %}
    {% endblock %}
  


</body>
</html>